@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model EditRestaurantViewModel

    <h3>@Localizer["Edit the restaurant"]</h3>
@{
    ViewData["Title"] = @Localizer["Edit Restaurant"];
    ViewData["Action"] = "Edit";
    await Html.RenderPartialAsync("_RestaurantPartial");
}

<br />
<h3>@Localizer["List of your current meals"]</h3>
<br />
<form asp-controller="Meal" asp-action="Add" method="get" asp-route-Id="@Model.RestaurantId">
    <button type="submit" class="btn btn-success">@Localizer["Add a new meal"]</button>
</form>
<br />
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>DESCRIPTION</th>
            <th>PRICE</th>
            <th>EDIT</th>
            <th>DELETE</th>
            <th>PHOTO</th>
        </tr>
    </thead>
    @foreach (var meal in Model.Meals)
    {
        <tr>
            <td>@meal.MealId</td>
            <td>@meal.Name</td>
            <td>@meal.Description</td>
            <td>@meal.Price.Amount @meal.Price.Currency</td>
            <td>
                <form asp-controller="Meal" asp-action="Edit" method="get" asp-route-Id="@meal.MealId">
                    <button type="submit" class="btn btn-success">@Localizer["Edit"]</button>
                </form>
            </td>
            <td>
                <form asp-controller="Meal" asp-action="Delete" method="post" asp-route-Id="@meal.MealId" onclick="return GetConfirmation();">
                    <button type="submit" class="btn btn-danger">@Localizer["Delete"]</button>
                </form>
            </td>
            <td><img src=@meal.ImageUri width="100" height="100"></td>
        </tr>
    }
</table>

<script type="text/javascript">
    function GetConfirmation()
    {
        var reply = confirm("Are you sure you want to delete the restaurant?");
        if(reply)
        {
            return true;
        }
        else
        {
            return false;
        }
    }
</script>