@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Restaurant details"];
}
@model SingleRestaurantViewModel

@if (Model.NumberOfCartItems != 0)
{
    <h3 class="redinfo">@Localizer["Meal item(s) in your Basket:"] @Model.NumberOfCartItems</h3>
    <h3 class="redinfo"><a asp-area="" asp-controller="Order" asp-action="Submit" asp-route-id="@Model.Restaurant.RestaurantId"><i class="fas fa-shopping-cart"></i>  @Localizer["Basket"]</a></h3>
}
else
{
    <h3 class="redinfo"></h3>
}
<h2>@Localizer["Restaurant details"]</h2>
<br />

@if ((User.IsInRole("Manager") && User.Identity.Name == Model.Restaurant.Manager.UserName) || User.IsInRole("Admin"))
{
    <a asp-controller="Restaurant" asp-action="Edit" asp-route-id="@Model.Restaurant.RestaurantId" class="btn btn-success" role="button">@Localizer["Edit restaurant"]</a>

    <form asp-controller="Restaurant" asp-action="Delete" asp-route-id="@Model.Restaurant.RestaurantId" method="post" onclick="return GetConfirmation();">
        <button type="submit" class="btn btn-danger">@Localizer["Delete restaurant"]</button>
    </form>
}

<br />
<table class="table">
    <tr>
        <th>@Localizer["NAME"]</th>
        <td>@Model.Restaurant.Name</td>
    </tr>
    <tr>
        <th>@Localizer["DESCRIPTION"]</th>
        <td>@Model.Restaurant.Description</td>
    </tr>
    <tr>
        <th>@Localizer["CITY"]</th>
        <td>@Model.Restaurant.City</td>
    </tr>
    <tr>
        <th>@Localizer["FOODTYPE"]</th>
        <td>@Model.Restaurant.FoodType</td>
    </tr>
    <tr>
        <th>@Localizer["PRICE CATEGORY"]</th>
        <td>
            <input value="@((byte)Model.Restaurant.PriceCategory)" class="rating rating-loading green" data-theme="krajee-fa" data-display-only="true" data-size="1" data-stars="4" data-max="4" data-step="1" data-show-clear="false" data-show-caption="false" data-show-caption-as-title="false">
        </td>
    </tr>
</table>
<br />
<h2>@Localizer["List of available meals"]</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>@Localizer["NAME"]</th>
            <th>@Localizer["DESCRIPTION"]</th>
            <th>@Localizer["PRICE"]</th>
            <th>@Localizer["PHOTO"]</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var meal in Model.Restaurant.Meals)
    {
        <tr>
            <td>@meal.Name</td>
            <td>@meal.Description</td>
            <td>@meal.Price.Amount @meal.Price.Currency</td>
            <td><img src=@meal.ImageUri width="100" height="100"></td>
            <td>
                <form asp-controller="Order" asp-action="Add" method="post" asp-route-Id="@meal.MealId">
                    <button type="submit" class="btn btn-success">@Localizer["Add To Cart"]</button>
                </form>
            </td>
        </tr>
    }
</table>

<form asp-controller="Home" asp-action="Index" method="get">
    <button type="button" class="btn btn-info" onclick="history.back()">@Localizer["Back to Available restaurants"]</button>
</form>
<br />

<script type="text/javascript">
    function GetConfirmation() {
        return confirm("Are you sure you want to delete the restaurant?");
    }
</script>