@{
  ViewData["Title"] = "Restaurant details";
}
@model Restaurant

<h2>Restaurant details</h2>
<br />
<table class="table">
    <tr>
        <th>NAME</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>DESCRIPTION</th>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <th>CITY</th>
        <td>@Model.City</td>
    </tr>
    <tr>
        <th>FOODTYPE</th>
        <td>@Model.FoodType</td>
    </tr>
    <tr>
        <th>PRICE CATEGORY</th>
        <td>
            <input value="@((byte)Model.PriceCategory)" class="rating rating-loading green" data-theme="krajee-fa" data-display-only="true" data-size="1" data-stars="4" data-max="4" data-step="1" data-show-clear="false" data-show-caption="false" data-show-caption-as-title="false">
        </td>
    </tr>
</table>
<br />
<h2>List of available meals</h2>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>NAME</th>
      <th>DESCRIPTION</th>
      <th>PRICE</th>
      <th>PHOTO</th>
      <th></th>
    </tr>
  </thead>
  @foreach (var meal in Model.Meals)
  {
    <tr>
      <td>@meal.Name</td>
      <td>@meal.Description</td>
      <td>@meal.Price.Amount @meal.Price.Currency</td>
      <td><img src=@meal.ImageUri width="100" height="100"></td>
      <td>
          <form asp-controller="Order" asp-action="Add" method="post" asp-route-Id="@meal.MealId">
              <button type="submit" class="btn btn-success">Add To Cart</button>
          </form>
      </td>
    </tr>
  }
</table>
<form asp-controller="Home" asp-action="Index" method="get">
    <button type="button" class="btn btn-info" onclick="history.back()">Back to restaurants</button>
</form>
