@using Microsoft.AspNetCore.Mvc.Localization
@model SearchRestaurantViewModel
@using ReflectionIT.Mvc.Paging
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Restaurants"];
}

<h1>@Localizer["Available Restaurants"]</h1>

<form asp-controller="Home" asp-action="Index" method="get">
    <table width="100%">
        <tr>
            <td><label asp-for="SearchRestaurantRequest.MealName">@Localizer["Search for food:"]</label></td>
            <td>
                <input type="text" asp-for="SearchRestaurantRequest.MealName" class="form-control" />
            </td>
            <td>
                <select asp-for="SearchRestaurantRequest.City">
                    <option selected disabled>@Localizer["Choose a city"]</option>
                    @foreach (var city in Model.UniqueCities)
                    {
                        <option value="@city">@city</option>
                    }
                </select>
            </td>
            <td>
                <button type="submit" class="btn btn-success"><i class="fas fa-search"></i> @Localizer["Search"]</button>
            </td>
            <td><a asp-action="Index">@Localizer["Clear filters"]</a></td>
        </tr>
        <tr>
            <span asp-validation-for="SearchRestaurantRequest.MealName" class="text-primary"></span>
        </tr>
    </table>
</form>
<br />

<div class="row">
    @foreach (var restaurants in Model.PagingList)
    {
        <div class="col-md-6">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="" src="http://via.placeholder.com/200x150" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">@Html.DisplayFor(modelRestaurant => restaurants.Name)</h4>
                        <p class="card-text">@Html.DisplayFor(modelItem => restaurants.FoodType)</p>
                        <div class="ratings text-right">
                            <input value="@((byte)restaurants.PriceCategory)" class="rating rating-loading green" data-theme="krajee-fa" data-display-only="true" data-size="1" data-stars="4" data-max="4" data-step="1" data-show-clear="false" data-show-caption="false" data-show-caption-as-title="false">
                        </div>
                        <div class="menu-button">
                            <form asp-controller="Restaurant" asp-action="Index" method="get" asp-route-Id="@restaurants.RestaurantId">
                                <button type="submit" class="btn btn-success">@Localizer["MENU"]</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@{
    var prev = Model.PagingList.PageIndex == 1 ? 1 : Model.PagingList.PageIndex - 1;
    var next = Model.PagingList.PageIndex == Model.PagingList.PageCount ? Model.PagingList.PageCount : Model.PagingList.PageIndex + 1;
}
<ul class="pagination">
    <li class="page-item">
        <a class="page-link" aria-label="Previous" role="button" asp-route-city="@Model.SearchRestaurantRequest.City" asp-route-page="@prev">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">@Localizer["Next"]</span>
        </a>
    </li>
    @for (int i = 1; i <= Model.PagingList.PageCount; i++)
    {
        <li>
            <a role="button" class="btn btn-primary"
               asp-route-city="@Model.SearchRestaurantRequest.City"
               asp-route-page="@i">@i</a>
        </li>
    }
    <li class="page-item">
        <a class="page-link" aria-label="Next" role="button" asp-route-city="@Model.SearchRestaurantRequest.City" asp-route-page="@next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">@Localizer["Next"]</span>
        </a>
    </li>
</ul>
