@model SearchRestaurantViewModel
@addTagHelper *, ReflectionIT.Mvc.Paging
@using ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Restaurants";
}
@if (User.IsInRole("Manager"))
{
    <h1>My Restaurants</h1>
}
else
{
    <h1>Available Restaurants</h1>
    <form asp-controller="Home" asp-action="Index" method="get">
    <table width="100%">
        <tr>
            <td><label asp-for="SearchRestaurantRequest.MealName">Search for food:</label></td>
            <td>
                <input type="text" asp-for="SearchRestaurantRequest.MealName" class="form-control" />
            </td>
            <td>
                <select asp-for="SearchRestaurantRequest.City">
                    <option selected>Choose a city</option>
                    @foreach (var city in Model.UniqueCities)
                    {
                        <option value="@city">@city</option>
                    }
                </select>
            </td>
            <td>
                <button type="submit" class="btn btn-success">Search</button>
            </td>
            <td><a asp-action="Index">Clear filters</a></td>
        </tr>
        <tr>
            <span asp-validation-for="SearchRestaurantRequest.MealName" class="text-primary"></span>
        </tr>
    </table>
</form>
}
<br />
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Food Type</th>
            <th scope="col">Price Range</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var restaurants in Model.PagingList)
        {
            <tr>
                <th scope="row">
                    @Html.DisplayFor(modelRestaurant => restaurants.Name)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => restaurants.FoodType)
                </td>
                <td>
                    <input value="@((byte)restaurants.PriceCategory)" class="rating rating-loading green" data-theme="krajee-fa" data-display-only="true" data-size="1" data-stars="4" data-max="4" data-step="1" data-show-clear="false" data-show-caption="false" data-show-caption-as-title="false">
                </td>
                <td>
                    <form asp-controller="Restaurant" asp-action="Index" method="get" asp-route-Id="@restaurants.RestaurantId">
                        <button type="submit" class="btn btn-success">Details</button>
                    </form>
                </td>
                @if (User.IsInRole("Manager"))
                {
                    <td>
                        <a asp-controller="Restaurant" asp-action="Edit" asp-route-id="@restaurants.RestaurantId" class="btn btn-warning" role="button">Edit</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@{
    var prev = Model.PagingList.PageIndex == 1 ? 1 : Model.PagingList.PageIndex - 1;
    var next = Model.PagingList.PageIndex == Model.PagingList.PageCount ? Model.PagingList.PageCount : Model.PagingList.PageIndex + 1;
}
<ul class="pagination">
    <li class="page-item">
        <a class="page-link" aria-label="Previous" role="button" asp-route-city="@Model.SearchRestaurantRequest.City" asp-route-page="@prev">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Next</span>
        </a>
    </li>
    @for (int i = 1; i <= Model.PagingList.PageCount; i++)
    {
        <li>
            <a role="button" class="btn btn-primary"
               asp-route-city="@Model.SearchRestaurantRequest.City"
               asp-route-page="@i">@i</a>
        </li>
    }
    <li class="page-item">
        <a class="page-link" aria-label="Next" role="button" asp-route-city="@Model.SearchRestaurantRequest.City" asp-route-page="@next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
        </a>
    </li>
</ul>
