@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Login"];
}
@model LoginRequest

<h1>@Localizer["Sign in"]</h1>

<div class="row">
    <div class="col-md-12">
        <form asp-controller="Account" asp-action="Login" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">@Localizer["Password"]</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@Localizer["Sign in"]</button>
        </form>
    </div>

    <div class="col-md-6">
        <hr />
        <form asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            @foreach (var provider in Model.ExternalLogins)
            {
                <button type="submit" name="provider" class="google-sign-in-button"
                        value="@provider.Name" title="Log in using your @provider.DisplayName account">
                    <img class="google-sign-in-img" src="~/img/google_signin_buttons/btn_google_signin_dark_normal_web_2x.png">
                </button>
            }
        </form>
    </div>
</div>

